/*en css hay diferentes tipos de medidas */

/*pseudo elementos para crear variables personalizadas*/
/*custom properties*/
:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #4682B4;
    --secundario: rgba(255,123,7,1);
    --gris: #757575;
}



html { /*esto hace que este estilo se aplique a todo el doc html*/
    font-size: 62.5%; /* todos los pixeles sean 10x*/
    box-sizing: border-box; /*cambiar modelo de caja para que la anchura altura incluyan padding y borde*/
   scroll-snap-type: y mandatory;
}

*, 
*:before,
*::after{
    box-sizing: inherit; /*todos los elementos heredan el box sizing de arriba*/
}


body {
    font-size: 16px; /*un rem = 10 px*/
    font-family: "Krub", sans-serif; /*colocar aca para que aplique a todo*/
    background-image: linear-gradient(to top, #dfe9f3, var(--blanco) 100%); /*DEGRADADO: to right to bottom to left*/
}



.titulo { /*no iniciar con numeros una clase */
    text-align: center;
    font-size: 4 rem;
    color: var(--primario); /*asi se llama (var) a la custom propertie hecha anteriormente*/
   /*font-family:"Times New Roman", Times, serif;*/ /*fuentes seguras todos los navegadores las tienen*/
}

.titulo span{
    font-size: 2rem;
    /*important; etiqueta que marca algo importante, le gana a todo XD jsjs*/
}

.contenedor {
    width: 120rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: auto; /*auto es centrar*/
    margin-left: auto;

    /*margin: 0 auto 0 auto;
    margin: 0 auto;*/

}

.nav-bg{
    background-color: var(--secundario);
}

@media (min-width: 480px){

}



@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1140px){

}

@media (min-width: 1400px){

}

.navegacion-principal{
    
    display: flex;
    flex-direction: row; /*por defecto es row*/
    justify-content: space-around; /*separar palabras elementos*/
    /*align intems: justify para las columnas*/
}

.navegacion-principal a{
  /*  background-color: var(--primario);
    display: block; /*si se pone block se pone hacia abajo*/
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem; /*relleno*/
    font-size: 2rem;
    font-weight: bold;

}

.navegacion-principal a:hover {
    background-color: var(--primario);/*recuerda que esto es un efecto al pasar el mouse*/
    color: var(--oscuro);
    text-decoration: underline; /*jeje esto lo añadí yo es para subrayar*/


}
/*h2 span: a todos los span que pertenezcan a h2*/
  
/*span etiqueta para afectar una parte del texto*/


.hero {
    background-image: url(../imagenes/portada_desarrollo_web.jpg); /*dos puntos pa salir de la carpeta */
    background-repeat: no-repeat; /*no repetir imagen*/
    background-position: center center;
    background-size: cover; /*cubrir todo*/
    height: 450px;
    padding: 20px;
    overlay: var(--gris); /*algo que añadi yo xd quiero ver si funciona*/
    position: relative;
}

.contenido-hero{
    position: absolute;
    /*anterior XD background-color: rgba(0, 0, 0, 0.7); /*anterior*/
    background-color: rgb(0 0 0 /60%);
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-position: center center;

    /*alinear horizontal vertical*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-hero p{
    color: var(--blanco); /*para cambiar el color del parrafo xd*/
}

.contenido-hero h2{
    color: var(--blanco); /*para cambiar el color del titulo*/
}

h1{
    font-size: 3.8 rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,
h2,
h3{

    text-align: center;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    /*width: 90%;*/
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 480px){
    .boton{
        width: auto; /*resetear el tamaño*/
    }
}

.sombra{
    box-shadow: 0px 5px 15px -3px #707070;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

@media (min-width: 760px){
    .lenguajes {
    display: grid;
    /*grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 200px 800px 1000px 200px; /*otra forma de hacerlo*/
    /*grid-template-columns: 25% 25% 25% 25%;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5rem; /*espaciado entre columnas*/
    /*grid-template-columns: repeat(4, 1fr);*/

    /*filas / columnas */
    /*grid: 200px 800px / 300 px 300px;*/

    /*flexbox para alinear elementos que estan dentro de contenedores*/
    /*grid para definir layout como las columnas o contenedores*/

    }
}

.lenguaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lenguaje h3{
    color: var(--secundario);
    font-weight: normal;

}

.lenguaje p {
    line-height: 2;
    text-align: center;
}

.lenguaje .iconos {
    height: 10rem;
    width: 10rem;
    background-color:rgba(36, 68, 184, 0.654);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /*esto utuliza el valor mas pequeño entre las dos opciones*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;


}

.formulario fieldset {
    border: none;

}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
        grid-template-rows: auto auto auto;
        
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3;
    }

}


.campo{
    margin-bottom: 1rem;

}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;

}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;

}

.enviar .boton{
    width: 100%;
}

.footer{
    text-align: center;
}

.lenguajes, .navegacion-principal, .formulario{

    scroll-snap-align: center;
    scroll-snap-stop: always;
    
}
